[package]
name = "home-assistant-rest"
version = "0.1.0"
edition = "2021"
description = "Home Assistant Async REST API Client"
readme = "README.md"
repository = "https://github.com/StefanBossbaly/home-assistant-rest/"
authors = ["Stefan Bossbaly <sbossb@gmail.com>"]
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = { version = "0.4.24", features = ["serde"] }
reqwest = { version = "0.11.14", features = ["json"] }
serde = "1.0.157"
serde_derive = "1.0.157"
serde_json = "1.0.94"
url = "2.3.1"
serde_qs = "0.12.0"
log = "0.4.17"
bytes = "1.4.0"

[dev-dependencies]
mockito = "1.0.0"
tokio = { version = "1.26.0", features = ["full"] }
